* {
  box-sizing: border-box;
}

:root {
  font-family: Roboto, sans-serif;
  color: white;
  background-color: var(--bg1);
  color-scheme: dark;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-light: #484848;
  --primary: #212121;
  --primary-dark: #000;
  --accent: #4c9e97;
  --bg1: #0d1117;
  --bg2: #21262e;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: #6c6c6f;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.nav {
  height: 100vh;
}

/* 640px */
@media (min-width: 40rem) {
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
